<header>
    <div class="flex items-center justify-center w-full text-center">
        <h1 class="font-bold text-xl" id="navbar">UE. Instituto Metropolitano Adventista</h1>
    </div>
    <div class="flex justify-between p-5 w-full">
        <div>
            <slot name="logo"></slot>
        </div>
        <div>
            <slot name="nav"></slot>
        </div>
    </div>
</header>