<section class="flex flex-col gap-4">

    <div>
        <h3 class="text-center font-bold text-lg">Visitanos</h3>
    </div>

    <div class="h-[400px] p-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15811.570494579097!2d-72.23129222438966!3d7.8011914834452405!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e666c64d54b1655%3A0xc0e059f24516d660!2sInstituto%20Metropolitano%20Adventista!5e0!3m2!1ses!2sve!4v1688762958224!5m2!1ses!2sve" height="100%" width="100%" style="max-width: 100%;" class="rounded"></iframe>
    </div>
</section>

